In [0]:
from pyspark.sql import Row

In [0]:
data = [
    Row(id=1, name="Aarav", gender="Male", salary=50000, department="IT", place="Mumbai"),
    Row(id=2, name="Anaya", gender="Female", salary=55000, department="HR", place="Delhi"),
    Row(id=3, name="Vivaan", gender="Male", salary=60000, department="Finance", place="Bangalore"),
    Row(id=4, name="Diya", gender="Female", salary=50000, department="IT", place="Chennai"),
    Row(id=5, name="Aditya", gender="Male", salary=58000, department="Marketing", place="Hyderabad"),
    Row(id=6, name="Ishita", gender="Female", salary=58000, department="Sales", place="Pune"),
    Row(id=7, name="Arjun", gender="Male", salary=62000, department="IT", place="Kolkata"),
    Row(id=8, name="Aditi", gender="Female", salary=54000, department="HR", place="Ahmedabad"),
    Row(id=9, name="Kabir", gender="Male", salary=61000, department="Finance", place="Surat"),
    Row(id=10, name="Meera", gender="Female", salary=56000, department="IT", place="Jaipur"),
    Row(id=11, name="Rohan", gender="Male", salary=59000, department="Marketing", place="Lucknow"),
    Row(id=12, name="Saanvi", gender="Female", salary=57000, department="Sales", place="Kanpur"),
    Row(id=13, name="Aryan", gender="Male", salary=63000, department="IT", place="Nagpur"),
    Row(id=14, name="Nisha", gender="Female", salary=55000, department="HR", place="Indore"),
    Row(id=15, name="Krishna", gender="Male", salary=64000, department="Finance", place="Bhopal")
]

df = spark.createDataFrame(data)
display(df)

In [0]:
from pyspark.sql.functions import avg

avg_salary = df.select(avg("salary"))
display(avg_salary)

In [0]:
from pyspark.sql.functions import count

count_rows = df.filter(df.department == "HR").groupBy("name").agg(count("*").alias("count"))
display(count_rows)

In [0]:
from pyspark.sql.functions import countDistinct

distinct_count_it = df.filter(df.department == "IT").groupBy("department").agg(countDistinct("id").alias("distinct_count"))
display(distinct_count_it)

In [0]:
from pyspark.sql.functions import sum

salary1 = df.select(sum("salary").alias("salary1"))
display(salary1)

In [0]:
from pyspark.sql.functions import min, max

min_salary = df.select(min("salary").alias("min_salary"))
max_salary = df.select(max("salary").alias("max_salary"))

display(min_salary)
display(max_salary)