In [0]:
from pyspark.sql import Row

data = [
    Row(dept="Math", salary=60000, gender="F", teacher_name="Alice Smith", experience=5, age=30),
    Row(dept="Science", salary=65000, gender="M", teacher_name="Bob Johnson", experience=7, age=35),
    Row(dept="English", salary=62000, gender="F", teacher_name="Carol Lee", experience=6, age=32),
    Row(dept="History", salary=61000, gender="M", teacher_name="David Kim", experience=4, age=29),
    Row(dept="Math", salary=70000, gender="F", teacher_name="Eva Brown", experience=10, age=40),
    Row(dept="Science", salary=68000, gender="M", teacher_name="Frank White", experience=8, age=38),
    Row(dept="English", salary=63000, gender="F", teacher_name="Grace Green", experience=5, age=31),
    Row(dept="History", salary=60000, gender="M", teacher_name="Henry Black", experience=3, age=27),
    Row(dept="Math", salary=72000, gender="F", teacher_name="Ivy Young", experience=12, age=42),
    Row(dept="Science", salary=66000, gender="M", teacher_name="Jack Hall", experience=6, age=33),
    Row(dept="English", salary=64000, gender="F", teacher_name="Kathy King", experience=7, age=36),
    Row(dept="History", salary=60500, gender="M", teacher_name="Leo Scott", experience=4, age=28),
    Row(dept="Math", salary=71000, gender="F", teacher_name="Mona Adams", experience=11, age=41),
    Row(dept="Science", salary=67000, gender="M", teacher_name="Ned Clark", experience=7, age=34),
    Row(dept="English", salary=65000, gender="F", teacher_name="Olga Lewis", experience=8, age=37),
    Row(dept="History", salary=61500, gender="M", teacher_name="Paul Walker", experience=5, age=30),
    Row(dept="Math", salary=73000, gender="F", teacher_name="Quinn Allen", experience=13, age=43),
    Row(dept="Science", salary=69000, gender="M", teacher_name="Ray Evans", experience=9, age=39),
    Row(dept="English", salary=66000, gender="F", teacher_name="Sara Baker", experience=9, age=38),
    Row(dept="History", salary=62000, gender="M", teacher_name="Tom Harris", experience=6, age=32)
]

df = spark.createDataFrame(data)
display(df)

In [0]:
# 1. How can you create a new column 'salary_level' that assigns 'High' if salary > 70000, 'Medium' if salary between 65000 and 70000, and 'Low' otherwise?
# 2. How can you add a column 'seniority' that is 'Senior' if experience >= 10, 'Mid' if experience between 5 and 9, and 'Junior' otherwise?
# 3. How can you create a column 'age_group' that is 'Young' if age < 30, 'Adult' if age between 30 and 40, and 'Senior' otherwise?
# 4. How can you add a column 'bonus_eligible' that is True if salary > 65000 and experience > 5, otherwise False?
# 5. How can you create a column 'dept_code' that assigns 1 for 'Math', 2 for 'Science', 3 for 'English', and 4 for 'History'?

In [0]:
from pyspark.sql.functions import *

In [0]:
df1 = df.withColumn(
    "salary_level",
    when(col("salary") > 70000, "High")
    .when((col("salary") >= 65000) & (col("salary") <= 70000), "Medium")
    .otherwise("Low")
)
display(df1)

In [0]:
df2 = df1.withColumn(
    'seniority',
    when(col("experience") >= 10, 'Senior')
    .when((col("experience") >= 5) & (col("experience") <= 9), 'Mid')
    .otherwise('Junior')
)
display(df2)

In [0]:
df3=df2.withColumn(
    'age_group',
    when(col("age")<30,"adult")
    .when((col("age")>30) & (col("age")<40),"senior")
    .otherwise("young")
)
display(df3)

In [0]:
df4=df3.withColumn(
    'bonus_eligible',
    when((col("salary")>65000) & (col("experience")>5),True)
    .otherwise(False)
)
display(df4)

In [0]:
df5=df4.withColumn(
    'dept_code',
    when(col("dept")=="Math",1)
    .when(col("dept")=="Science",2)
    .when(col("dept")=="English",3)
    .when(col("dept")=="History",4)
    .otherwise(0)
)
display(df5)